<!-- Whenever you want to compose a new entry -->

<%- include("partials/header") -%>

<h1>Compose</h1>


<form action="/compose" method="post">

  <div class="form-group">
    <label for="">Title</label>
    <textarea name="postTitle" class='form-control' cols="120" rows="1"></textarea>

    <label for="">Post</label>
    <textarea name="postBody" class='form-control' cols="120" rows="5"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Publish</button>
</form>


<%- include("partials/footer") -%>
