<!-- Load this page whenever someone requests a particular blog post via the URL -->

<%- include("partials/header") -%>

<h1> <%= topicTitle %> </h1>
<p> <%= topicPost %> </p>

<%- include("partials/footer") -%>
